body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#banner{
  margin: 0;
  background-color: rgba(73, 42, 13, 0.363);
  height: 150px;
  text-align: center;
  line-height: 150px;
  top: 0;
  padding-top: 0;
  position: relative;
  margin:0;
 }
 
 h1{
  margin:0;
  color: white;
  font-family: "Great Vibes";
  font-size: 70px;
 }
 
 html, body{
  margin:0;
  padding:0;
 }
 
 #mySidenav a {
  position: absolute;
  left: -100px;
  transition: 0.3s;
  width: 100px;
  text-decoration: none;
  font-size: 40px;
  color: white;
  border-radius: 0 5px 5px 0;
  padding: 30px;
 }
 
 #mySidenav a:hover {
  left: 0;
 }
 
 #login {
  top: 150px;
  background-color: rgb(97, 66, 30);
  height: 50px;
  line-height: 35px;
  font-family: "Great Vibes";
 
 }
 
 #History {
  top: 300px;
  background-color: rgb(172, 130, 76);
  height: 50px;
  line-height: 30px;
  font-family: "Great Vibes"
 }
 
 #newList {
  top: 450px;
  background-color: #6e341e;
  height: 70px;
  line-height: 35px;
  line-break: auto;
  font-family: "Great Vibes";
 }
 
 img{
  width: 700px;
  height: 500px;
 }
 
 form{
  margin-top:44%;
  text-align: center;
 }

 input{
   border: 5px solid #6e341e;

 }